html {
    min-height: 100vh;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

.firstContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, 600px);
    background: #2ddf5c;
}

.firstContainer > div {
    border: 2px solid white;
}

.firstContainer div:nth-child(1n) {
    height: 200px;
}
.firstContainer div:nth-child(2n) {
    height: 300px;
}
.firstContainer div:nth-child(3n) {
    height: 400px;
}
.firstContainer div:nth-child(4n) {
    height: 600px;
}
.firstContainer div:nth-child(5n) {
    /*this does not fit since row can be max 600px tall*/
    height: 700px;
}

.secondContainer > div {
    border: 3px solid #faacac;
}