@import url('https://fonts.googleapis.com/css?family=Work+Sans');

:root {
    --background-color: hsl(186, 85%, 85%, 0.65)
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
   margin: 0;
    background-color: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.content {
    height: 100vh;
    background-image: url("//unsplash.it/1500/1000");
    background-color: #333;
    background-blend-mode: multiply;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

/*
navigation styles start here
 */

header {
    background: var(--background-color);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display:flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2rem;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 12px
}

.nav-toggle-label span::after {
    top: 12px
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background-color);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1rem;
    margin-left: 1rem
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-block;
    transition: transform 500ms ease;
    opacity: 0;
}

.link::after {
    content: '';
    position: absolute;
    display: inline;
    height: 3px;
    left: 0;
    bottom: -1px;
    width: 100%;
    background: var(--background-color);
    transform: scaleX(0);
    transition: transform 500ms ease;
}

.link:hover::after{
    transform: scaleX(1);
}

.nav-toggle:checked ~ nav{
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 500ms ease-in-out 250ms;
}


@media (hover) {
    .link::after {
        transform: scaleX(0);
    }

    .link:hover {
        transform: scale(1.1);
        color: var(--background-color);
    }
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
    display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        all: unset;
        grid-column: 3 / span 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .link {
        opacity: 1;
    }


    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav li {
        margin-left: 3rem;
        margin-bottom: 0;
    }
}